.navBarIcon {
    display: flex;
    flex-direction: column;
}
 
.mylinks {
    display: inline-block;
    position: relative;
    left: -40%;
}

.header {
    width: 100%;
    height: 20%;
    position: relative;
}

.headerpic {
    position: relative;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 3cm;
    background-color: rgba( 0, 0, 0, 0.75 );
    margin: auto;
    color: white;
    position: absolute;
    top: 5cm;
    left: 40%;
    font-size: 1cm;
    font-family: tahoma bold;
}

.mydivclass {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5%;
    padding: 2%;
    width: fit-content;
}

.mydivclass h5 {
    width: 100%;
    text-align: center;
    font-size: xx-large;
}

.mycardfooter {
    padding: 2%;
    width: 100%;
}

.gridBox {
    display: grid;
    width: 100%;
    height: fit-content;
    padding: 2%;
    border: 2px solid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    }
    
    .div1 { 
        border: 2px solid;
        grid-area: 1 / 1 / 2 / 2; }
    .div2 { 
        border: 2px solid;
        grid-area: 1 / 2 / 2 / 3; }
    .div3 { 
        border: 2px solid;
        grid-area: 1 / 3 / 2 / 4; }

    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 2 / 3 / 3 / 4; }

    .div7 { grid-area: 3 / 1 / 4 / 2; }
    .div8 { grid-area: 3 / 2 / 4 / 3; }
    .div9 { grid-area: 3 / 3 / 4 / 4; }


    .footerIcons, .footerSubscribe, .footerCopieright {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgba( 0, 0, 0, 0.75 );
        color: white;
        font-size: 0.5cm;
    }

    .footerIcons i {
        padding: 2%;
    }

    .footerSubscribe label {
        margin-left: 10%;
        width: 30%;
    }

    .footerSubscribe input {
        margin-right: 2%;
        width: 60%;
    }

    .footerSubscribe button {
        width: 10%;
        margin-left: 1%;
        margin-right: 15%;
    }

    .footerCopieright {
        margin: auto;
        padding: 2%;
    }
    .footerCopieright span {
        color: white;
    }
